<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/main.css"></link>
    <script src="/static/js/main.js"></script>
  </head>
  <body>
    <h1>Welcome to {{title}}</h1>
    <h3>for loop</h3>
    <ul>
      {% for n in list %}
      <li>{{forloop.counter}} | {{forloop.counter0}} | {{n}}</li>
      {% endfor %}
    </ul>

    <h3>Print student details</h3>
    <ul>
      {% for student in students %}
      <li>{{student.id}} | {{student.name}} | {{student.email}}</li>
      {% endfor %}
    </ul>

    <h3>Print student details</h3>
    <ul>
        {% if numbers|length > 0  %}
      {% for number in numbers %} {% if number > 30 %}
      <li>{{number}} is greater than 30</li>
      {% else %}
      <li>{{number}} is less than or equal to 30</li>
      {% endif %} {% endfor %}
      {% else %}
      <li>No data found</li>
      {% endif %}
    </ul>

    <div>
      <img src="/static/images/image2.jpg" alt="image 2" />
    </div>
  </body>
</html>
